<div class="container text-center">
  <h1>ADD NEW PRODUCT</h1>
  <p class="lead text-success">{{addProductMessage}}</p>
  <div class="container mt-3">
    <form #addProductRef="ngForm" (ngSubmit)="addProduct(addProductRef.value)">
      <div class="mb-3">
        <input type="text" placeholder="Product name" class="form-control form-control-sm rounded-0" id="name"
          name="name" ngModel>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product price" class="form-control form-control-sm rounded-0" id="price"
          name="price" ngModel>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product category" class="form-control form-control-sm rounded-0" id="category"
          name="category" ngModel>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product color" class="form-control form-control-sm rounded-0" id="color"
          name="color" ngModel>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product image" class="form-control form-control-sm rounded-0" id="image"
          name="image" ngModel>
      </div>
      <div class="mb-3">
        <textarea name="description" id="description" cols="30" rows="4" placeholder="Product description"
          class="form-control form-control-sm rounded-0" ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary rounded-0">Add Product</button>
    </form>
  </div>
</div>